@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Szkoła Narciarska!</h1>
    <p class="lead">Uczymy nawet najmłodszych :)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://img.interia.pl/turystyka/nimg/l/x/Pierwszy_wyjazd_stok_5546823.jpg" width="68%">
      </div> 
    <div class="col-md-4">
        <img src="http://www.zawiercie.powiat.pl/Image/INFORMATOR/stok%20w%20Morsku.jpg" width="70%">
    </div>
    <div class="col-md-4">
        <img src="http://u.profitroom.pl/2015.willa-sandra.pl/uploads/stok/Willa-Sandra-Stok-01.jpg" width="70%">
    </div>
</div>